

body{
    margin: 0 !important;
}

.landing-page {
    display: flex;
    flex-direction: row;
}

.landing-page-image-container{
    width: 55%;
    height: 100%;
}

.landing-page-image{
    width: 100%;
    height:100%;
}

.landing-page-content-container{
    width: 45%;
    margin-left: 8%;
    margin-right: 8%;
    display: flex;
    flex-direction: column; /* Aligns children vertically */
    justify-content: center; /* This will center the content vertically */
}

.landing-page-content-title-text{
    font-family: "bely-display", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 170px;
    margin: 0 0 0 0;
    color: #1E1E1E;
}

/* add other components to styple here */


.landing-page-content-description-text{
    font-family: "Inder", sans-serif;
    color: #454C53;
    font-family: Inder;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.6px;
    margin: 0 0 0 0;
}

.landing-page-content-learn-more-text{
    font-family: "Inder", sans-serif;
    color: #454C53;
    font-family: Inder;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.6px;
}

.landing-page-content-socials-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.landing-page-content-socials-instagram-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.landing-page-content-socials-email-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}

.instagram-logo-container{
    justify-content: center;
}

.instagram-logo {
    width: 20px;
    height: 20px;
    color: #454C53;
}

.instagram-text-container{
    justify-content: center;
}

.instagram-text{
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #454C53;
}

.email-logo-container{
    justify-content: center;
}

.email-logo{
    width: 20px;
    height: 20px;
    color: #454C53;
}

.email-text-container{
    justify-content: center;
}

.email-text{
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #454C53;
}

.landing-page-content-hosts-text{
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
} 

.landing-page-content-hosts-text{
    font-family: "Inder", sans-serif;
    color: #454C53;
    font-family: Inder;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.6px;
}

@media only screen and (max-width: 767px) {
    .landing-page {
            flex-direction: column;
            justify-content: center; /* Center vertically */
            align-items: center; /* Center horizontally */
    }

    .landing-page-content-container{
        display: flex;
        flex-direction: column;
        justify-content: center; /* Center content vertically */
        width: 75%; /* Take the full width */
        margin-top: 0; /* No margins */
        margin-bottom: 0;
        margin-left: 8%;
        margin-right: 8%;
        padding: 5% 0 8% 0; /* Padding top and bottom for some spacing */
    }

    .landing-page-content-title-text{
        font-size: 78px;
        font-weight: 400;
        line-height: 93.6px;
        text-align: left;
    }

    .landing-page-content-description-text{
        font-family: "Inder", sans-serif;
        color: #454C53;
        font-family: Inder;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.6px;
        margin: 0 0 0 0;
        padding: 5% 0;
    }
    
    .landing-page-content-learn-more-text{
        font-family: "Inder", sans-serif;
        color: #454C53;
        font-family: Inder;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.6px;
    }

    .landing-page-content-hosts-text{
        font-family: "Inder", sans-serif;
        color: #454C53;
        font-family: Inder;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.6px;
    }
    

    .landing-page-image-container{
        width: 100%;
    }
    
    .email-text{
        display: none;
    }

    .email-logo{
        color: #454C53;
    }

    .instagram-text{
        display: none;
    }

    .instagram-logo{
        color: #454C53;
    }
}